<% if signed_in? %>
	<div class = "row">
		<aside class="span3">
			<section>
				<%= render 'shared/user_info'%>
			</section>

			<section>
				<%= render 'shared/client_form'%>
			</section>
		</aside>
	
		<div class= "span9">
			<h3>Unpaid Jobs</h3>

			<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Unpaid Jobs</a></li>
    <li><a href="#tab2" data-toggle="tab">Paid 2</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    	<%= render partial: 'shared/feed_item' %>
    </div>
    <div class="tab-pane" id="tab2">
    	<%= render partial: 'shared/feed_item', :collection => @emails %>
      <%#= render 'shared/feed', collection: @emails %>
    </div>
  </div>
</div>
			<%#= render 'shared/feed'%>
		</div>
	</div>

	


	<% else %>


<div class= "center hero-unit">

	<h1>Payment Reminders</h1>
	<p>
		Helping Small business collect their funds!
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
</div>



<% end %>