<% if signed_in? %>
	<div class = "row">
		<aside class="span3">
			<section>
				<%= render 'shared/user_info'%>
			</section>

			<section>
				<%= render 'shared/client_form'%>
			</section>
		</aside>
	
		<div class= "span9">
			<h3></h3>

		<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Unpaid Jobs</a></li>
    <li><a href="#tab2" data-toggle="tab">Paid Jobs</a></li>
    <li><a href="#tab3" data-toggle="tab">Reminders sent</a></li>
    <li><a href="#tab4" data-toggle="tab">All Jobs</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    	<%= render :partial => "shared/feed_item", :locals => { :feed => @feed_items } %>

    </div>
    <div class="tab-pane" id="tab2">
    	<%= render :partial => "shared/feed_paid_item", :locals => { :feed => @paid_items } %>
    </div>
    <div class = "tab-pane" id= "tab3">
    	<%= render :partial => "shared/feed_sent_item", :locals => { :feed => @sent_emails } %>
    </div>
    <div class = "tab-pane" id= "tab4">
    	<%= render :partial => "shared/feed_item", :locals => { :feed => @all_jobs } %>
    </div>
  </div>
</div>

<ul class = "nav nav-list">
		<li class = "divider"></li>

	</ul>

	<span class="label label-info btn-custom">  Mail Reminder Set  <span class="icon-bullhorn"></span></span>
	<span class="label label-info btn-custom">  Mark As Paid  <span class="icon-ok"></span></span>
	<span class="label label-info btn-custom">  Create Mail Reminder  <span class="icon-envelope"></span></span>
	<span class="label label-info btn-custom">  Edit Item  <span class="icon-edit"></span></span>
			<%#= render 'shared/feed'%>
		</div>
	</div>

	


	<% else %>


<div class= "center hero-unit">

	<h1>Payment Reminders</h1>
	 <p>
		Poutly helps small businesses get paid by sending professional email reminders to past-due clients.
		<!-- Gently remind your clients to pay you, on-time. -->
	</p> 
	<%= link_to "Sign up for free Trial", signup_path, class: "btn btn-large btn-primary btn-custom-green "%>
	<%#= link_to "See Plans and How it works", signup_path, class: "btn btn-large btn-primary btn-custom link-text"%>
</div>

<div class= "row">
	<div class = "center span4">
		<h2>Reduces client's payment time </h2>
		<p>Gently remind your clients to pay you, on-time</p>
	</div>

	<div class = "center span4 ">
		<h2>Saves Time</h2>
		<p>Automatically notifies clients who haven't paid</p>
	</div>

		<div class = "center span4">
		<h2>Get you paid</h2>
		<p>The invoices that get chased get paid</p>
	</div>

</div>


<hr>
<div class= "row">
	<div class = "center span7 offset3">
		<h3>Worth <div class = "counter-no">$21225</div> of invoices paid faster!</h3>
		
	</div>


</div>


<% end %>