<p>
Good day <%= @client.name %>,
</p>


<% if (@client.due_date - Date.today).to_i > 0 %>
This is a payment reminder sent from <b><%= @client.user.name %></b> informing that payment of <b><%= number_to_currency(@client.amount) %> </b>for <b><%= @client.project_name %> </b> is due in <b> <%= (@client.due_date - Date.today).to_i %></b> days. 

<% else %> 

<p>
This is a payment reminder sent from <b><%= @client.user.name %></b> informing that your balance of <b><%= number_to_currency(@client.amount) %> </b>for <b><%= @client.project_name %> </b>was overdue as of <b><%= @client.due_date.to_formatted_s(:long) %></b>.
</p>

<p>
Please arrange payment of this account today or, if you cannot make full payment at this time, please contact us to make a payment arrangement that is mutually acceptable.
</p>

<p>
If payment has recently been made, please accept our thanks and ignore this reminder.
</p>
Payment Reminder
C/O <%= @client.user.name %>

<% end %>

<p>Regards, </p>

