<% provide(:title, @user.name + " Profile") %>

<div class = "row">
	<aside class = "span4">
		<section>
			<h1>
				<%= @user.name %>
			</h1>
				<%= @user.company %> <br>
				<%= @user.email %>
		</section>

	</aside>

	<div class="span8">
		<% if @user.clients.any? %>
			<h3> Clients(<%= @user.clients.count %>)</h3>
			<ul class="clients">
					<%= render @clients %>
			</ul>

			<% end %>
	</div>
</div>


