<li id="<%= feed_item.id %>">
  <span class="user">
    <b>Company :</b> <%= feed_item.name %>
    <b>Due Date :</b> <%= feed_item.due_date %> <br>
    <b>Project Name : </b><%= feed_item.project_name %>
    <b>Amount Due : </b> $<%= feed_item.amount %> <br>
    <b>Reminder: </b> <%= feed_item.reminder %> <br>
    <b>Days Left : </b> <%= @days_left = (feed_item.due_date - Date.today).to_i %> 
    <% if feed_item.email.nil? %>
      test
      <% else %>
      <b>Email: </b> <%= feed_item.email %>
    <% end %>

  </span>
  <br>

  <%= link_to "Delete", feed_item, method: :delete, data: {confirm: "You sure"}, title: feed_item.project_name  %>


  <%= link_to "Mark as Paid", client_paid_path(feed_item), class: "btn btn-small btn-success" %>

  <%= link_to "Email Reminders ", "#", :class => "clickme" %>   


<script type="text/javascript">

  $(document).ready(function (){
    $('.e_field').hide(); 
    console.log("Loaded");
    $('.clickme').click(function() {
      console.log("Clcicked");
      var $div = $('.e_field').eq($(this).index('.clickme'));  // get the relevant div
      console.log("my action__" + $div)
            $div.show();  // show the relevant div
    });


  });
</script>


  

   <div id ="reminder_form">
    <%= form_for(feed_item) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="e_field">
        <p> Set Daily Reminder
          <%= f.email_field :email, placeholder: "email address to send reminder" %>
          <%= f.submit "Confirm ", class: "btn btn-small btn-primary"%>
        </p>
      <% end %>
      </div>

   </div>

  



  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>