<li id="<%#= feed_item.id %>">

      <tr>  
        <th>Company</th>
        <th>Project Name</th>
        <th>Due Date</th>
        <th>Amount Due</th>
        <th>Days Left</th>
      </tr>
  
  <% @feed_items.each do |client|%>

  
      <tr>
      <td><%= client.name %></td>
      <td><%= client.project_name %></td>
      <td><%= client.due_date.to_formatted_s(:long)  %></td>
      <td><%= client.amount %></td>
      <td><%= @days_left = (client.due_date - Date.today).to_i %></td>
      </tr>




  <% end %>
  </table>
<script type="text/javascript">

  $(document).ready(function (){
    $('.e_field').hide(); 
    console.log("Loaded");
    $('.clickme').click(function() {
      console.log("Clcicked");
      var $div = $('.e_field').eq($(this).index('.clickme'));  // get the relevant div
      console.log("my action__" + $div)
            $div.show();  // show the relevant div
    });


  });
</script>

   <div id ="reminder_form">
    <%= form_for(@client) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="e_field">
        <p> Set Daily Reminder
          <%= f.email_field :email, placeholder: "email address to send reminder" %>
          <%= f.submit "Confirm ", class: "btn btn-small btn-primary"%>
        </p>
      <% end %>
      </div>

   </div>

  




</li>