<li id="<%= feed_item.id %>">
  <span class="user">
    <b>Company :</b> <%= feed_item.name %>
    <b>Due Date :</b> <%= feed_item.due_date %> <br>
    <b>Project Name : </b><%= feed_item.project_name %>
    <b>Amount Due : </b> $<%= feed_item.amount %> <br>
    <b>Reminder: </b> <%= feed_item.reminder %> <br>
    <b>Days Left : </b> <%= @days_left = (feed_item.due_date - Date.today).to_i %> 
    <% if feed_item.email.nil? %>
      test
      <% else %>
      <b>Email: </b> <%= feed_item.email %>
    <% end %>

  </span>
  <br>
  <%= link_to "Delete", feed_item, method: :delete, 
  		data: {confirm: "You sure"}, title: feed_item.project_name  %>


   <%= link_to "Paid", client_paid_path(feed_item), class: "btn btn-small btn-success" %>


   <%= link_to "Set Reminder ", client_reminder_path(feed_item), class: "btn btn-small btn-info" %>   

   <%= form_for(@client) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.email_field :email, placeholder: "Email of Client" %>
    
  </div>

  <%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
<% end %>



  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>